n8n/energy-workflow.json
{
  "name": "Energy Tracker — Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "energy-tracker-telegram",
      "credentials": { "telegramApi": { "id": "1", "name": "Telegram Energy Bot" } }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.message;\nconst text = (msg?.text || '').trim();\nconst chatId = msg?.chat?.id;\nconst telegramId = msg?.from?.id;\nif (!text || !chatId) return [];\nconst tokens = text.split(/\\s+/);\nconst comando = tokens[0]?.toLowerCase();\nconst token1 = tokens[1];\nconst token2 = tokens[2];\nconst token3 = tokens.slice(3).join(' ');\nconst esFecha = /^\\d{4}-\\d{2}-\\d{2}$/.test(token2);\nconst fecha = esFecha ? token2 : null;\nconst nota = esFecha ? token3 : tokens.slice(2).join(' ');\nreturn [{ json: { comando, chat_id: chatId, telegram_id: telegramId, lectura: token1 ? parseInt(token1) : null, fecha, nota, token1, texto_original: text } }];"
      },
      "name": "Parsear Comando",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.comando }}",
        "rules": {
          "rules": [
            { "value2": "/lectura" },
            { "value2": "/cierre" },
            { "value2": "/evento" }
          ]
        },
        "fallbackOutput": 3
      },
      "name": "Router A",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.comando }}",
        "rules": {
          "rules": [
            { "value2": "/confirmar" },
            { "value2": "/cancelar" },
            { "value2": "/estado" },
            { "value2": "/ayuda" }
          ]
        },
        "fallbackOutput": 4
      },
      "name": "Router B",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [880, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:3847/api/lecturas",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"servicio_id\": \"{{ $env.ENERGY_SERVICIO_ID }}\",\n  \"lectura_valor\": {{ $json.lectura }},\n  \"tipo\": \"lectura_diaria\",\n  \"fecha\": {{ $json.fecha ? '\"' + $json.fecha + '\"' : 'null' }},\n  \"notas\": \"{{ $json.nota }}\",\n  \"telegram_id\": {{ $json.telegram_id }}\n}",
        "options": {}
      },
      "name": "POST lectura",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 60],
      "credentials": { "httpHeaderAuth": { "id": "2", "name": "Energy API Key" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:3847/api/lecturas",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"servicio_id\": \"{{ $env.ENERGY_SERVICIO_ID }}\",\n  \"lectura_valor\": {{ $json.lectura }},\n  \"tipo\": \"cierre_ciclo\",\n  \"notas\": \"{{ $json.nota }}\",\n  \"telegram_id\": {{ $json.telegram_id }}\n}",
        "options": {}
      },
      "name": "POST cierre",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 180],
      "credentials": { "httpHeaderAuth": { "id": "2", "name": "Energy API Key" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:3847/api/lecturas",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"servicio_id\": \"{{ $env.ENERGY_SERVICIO_ID }}\",\n  \"lectura_valor\": {{ $json.lectura }},\n  \"tipo\": \"evento_especial\",\n  \"notas\": \"{{ $json.nota }}\",\n  \"telegram_id\": {{ $json.telegram_id }}\n}",
        "options": {}
      },
      "name": "POST evento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300],
      "credentials": { "httpHeaderAuth": { "id": "2", "name": "Energy API Key" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:3847/api/lecturas/confirmar",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"pendiente_id\": \"{{ $json.token1 }}\" }",
        "options": {}
      },
      "name": "POST confirmar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 420],
      "credentials": { "httpHeaderAuth": { "id": "2", "name": "Energy API Key" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:3847/api/lecturas/cancelar",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"pendiente_id\": \"{{ $json.token1 }}\" }",
        "options": {}
      },
      "name": "POST cancelar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 540],
      "credentials": { "httpHeaderAuth": { "id": "2", "name": "Energy API Key" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://backend:3847/api/stats?servicio_id={{ $env.ENERGY_SERVICIO_ID }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "GET estado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 660],
      "credentials": { "httpHeaderAuth": { "id": "2", "name": "Energy API Key" } }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst input = $('Parsear Comando').first().json;\nlet texto = '';\nif (data.status === 'ok' && data.evento) {\n  const e = data.evento;\n  texto = `✅ Lectura registrada\\n📅 ${e.fecha}\\n⚡ ${parseInt(e.lectura_valor).toLocaleString()} kWh\\n📈 +${e.consumo_dia} kWh hoy\\n🔢 ${data.acumulado_kwh} kWh acumulados`;\n  if (data.promedio_dia) texto += `\\n📊 Promedio: ${data.promedio_dia} kWh/día`;\n} else if (data.status === 'pendiente') {\n  texto = data.mensaje;\n} else if (data.acumulado_kwh !== undefined) {\n  texto = `📊 Ciclo actual\\n📅 Inicio: ${data.fecha_inicio}\\n⚡ Última: ${data.ultima_lectura?.toLocaleString() || '—'} kWh\\n🔢 Acumulado: ${data.acumulado_kwh} kWh\\n📈 Promedio: ${data.promedio_dia || '—'} kWh/día\\n📆 ${data.dias_ciclo} días transcurridos`;\n  if (data.alerta) texto += `\\n\\n${data.alerta.nivel === 'critico' ? '🚨' : '⚠️'} ${data.alerta.mensaje}`;\n} else if (data.mensaje) {\n  texto = data.mensaje;\n} else {\n  texto = JSON.stringify(data, null, 2);\n}\nreturn [{ json: { chat_id: input.chat_id, text: texto } }];"
      },
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst texto = `📋 Comandos disponibles:\\n\\n/lectura <valor> [fecha] [nota]\\n  Ej: /lectura 17580\\n  Ej: /lectura 17580 2026-03-01 Lavado\\n\\n/cierre <valor> [nota]\\n  Cierre de ciclo bimestral\\n\\n/evento <valor> [nota]\\n  Evento especial\\n\\n/estado\\n  Resumen del ciclo actual\\n\\n/confirmar <id>\\n  Confirmar lectura anómala\\n\\n/cancelar <id>\\n  Cancelar lectura pendiente`;\nreturn [{ json: { chat_id: input.chat_id, text: texto } }];"
      },
      "name": "Texto Ayuda",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 780]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{ json: { chat_id: input.chat_id, text: `No entendí el comando \"${input.comando}\". Escribe /ayuda para ver los comandos disponibles.` } }];"
      },
      "name": "Respuesta Desconocido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 900]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "name": "Enviar Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 300],
      "credentials": { "telegramApi": { "id": "1", "name": "Telegram Energy Bot" } }
    }
  ],
  "connections": {
    "Telegram Trigger":   { "main": [[{ "node": "Parsear Comando", "type": "main", "index": 0 }]] },
    "Parsear Comando":    { "main": [[{ "node": "Router A", "type": "main", "index": 0 }]] },
    "Router A": {
      "main": [
        [{ "node": "POST lectura", "type": "main", "index": 0 }],
        [{ "node": "POST cierre",  "type": "main", "index": 0 }],
        [{ "node": "POST evento",  "type": "main", "index": 0 }],
        [{ "node": "Router B",     "type": "main", "index": 0 }]
      ]
    },
    "Router B": {
      "main": [
        [{ "node": "POST confirmar",        "type": "main", "index": 0 }],
        [{ "node": "POST cancelar",         "type": "main", "index": 0 }],
        [{ "node": "GET estado",            "type": "main", "index": 0 }],
        [{ "node": "Texto Ayuda",           "type": "main", "index": 0 }],
        [{ "node": "Respuesta Desconocido", "type": "main", "index": 0 }]
      ]
    },
    "POST lectura":   { "main": [[{ "node": "Formatear Respuesta", "type": "main", "index": 0 }]] },
    "POST cierre":    { "main": [[{ "node": "Formatear Respuesta", "type": "main", "index": 0 }]] },
    "POST evento":    { "main": [[{ "node": "Formatear Respuesta", "type": "main", "index": 0 }]] },
    "POST confirmar": { "main": [[{ "node": "Formatear Respuesta", "type": "main", "index": 0 }]] },
    "POST cancelar":  { "main": [[{ "node": "Formatear Respuesta", "type": "main", "index": 0 }]] },
    "GET estado":     { "main": [[{ "node": "Formatear Respuesta", "type": "main", "index": 0 }]] },
    "Formatear Respuesta":   { "main": [[{ "node": "Enviar Telegram", "type": "main", "index": 0 }]] },
    "Texto Ayuda":           { "main": [[{ "node": "Enviar Telegram", "type": "main", "index": 0 }]] },
    "Respuesta Desconocido": { "main": [[{ "node": "Enviar Telegram", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "energy-tracker" }]
}
